h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    letter-spacing: 2px;
}
.blue-color{
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;

}
.orange-color{
    color: #FF8367;
    font-family: 'Bebas Neue', cursive;
    

}
body{
    margin: 0;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 8%;
}
.bg{
    height: 800px;
    width: 90%;
    
}
.half-width img{
    width: 100%;
}
.contact{
    text-decoration: none;
    padding: 15px 30px;
    color: white;
    border-radius: 5%;
    font-weight: 50px;
    background-image: linear-gradient(to bottom, rgb(231, 63, 34) , Tomato);
    font-size: xx-small;

}
#pad{
    padding-left: 10%;
}
p{
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
#header{
    text-align: right;
    font-size: small;
    padding-top:1%;
    padding-right: 5%;
    padding-bottom: 3%;
    color: #3C3C3C;
    word-spacing: 20px;
}
.third-width{
    float: left;
    width: 22%;
    padding: 3%;
    box-shadow: 10px 10px 20px gray ;
    border-radius: 15% 5px;
    height: 60%;
    margin-left: 2%;
    


}
.third-width img{
    width: 100%;
}
.own{ 
    padding-left: 30px;
    padding-right: 30px;
}
#left{
    padding-left: 8%;
}
h4{
    color:#363958;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#work-bg{
    background-color: #E5E5E5;
    height:500px;
    padding:8%;
    margin-top: 5%;
}
#text-bg{
    padding-top:0 px;
    letter-spacing: 2px;
    text-align: center;
    
}
#last-background-image{
    background-image: url("images/last.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 100%;
    margin-bottom: 120px;
    height: 180px;
    width: 1100px;
}
#work-inq{
    margin-left: 250px;
    margin-top: 30px;
    padding-top: 50px;
    color: white;
    font-weight: bold;

}
.chat{
    text-align: center;
    margin-left: 65%;
    margin-bottom: 40%;
    padding-bottom: 18px;
    padding-top: 10%;
    border-radius: 10%;
    box-shadow: 10px 10px 20px rgb(83, 38, 189) ;
    
}
#extra{
    text-align: center;
    padding: 12px 20px;
}
#last-sec{
    background-color: teal;
    color: wheat;
}
input[type=text]{
    border: 2px solid rgb(187, 212, 73);
    border-radius: 4px;
    padding: 12px 20px;
    color: white;
    background-color: turquoise;
}
input[type=submit]
{
    background-color: slategray;
    color: tan;
}
#last{
    text-align: center;
    font-size: 15px;
}
