h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}
.blue-color{
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;

}
.orange-color{
    color: #FF8367;
    font-family: 'Bebas Neue', cursive;
    

}
body{
    margin: 0;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 8%;
}
.bg{
    height: 1000px;
    width: 90%;
    
}
.half-width img{
    width: 100%;
}
.contact{
    text-decoration: none;
    padding: 10px 25px;
    color: white;
    border-radius: 5%;
    font-weight: 50px;
    background-image: linear-gradient(to bottom, rgb(231, 63, 34) , Tomato);

}
#pad{
    padding-left: 10%;
}
p{
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
}
#header{
    text-align: right;
    font-size: small;
    padding-top:1%;
    padding-right: 5%;
    padding-bottom: 3%;
    color: #3C3C3C;
    word-spacing: 20px;
}
.third-width{
    background-color: azure;
    float: left;
    width: 25%;
    padding: 2%;


}
.third-width img{
    width: 100%;
}
.own{
    border: 0px, solid ; 
    padding-left: 30px;
    padding-right: 30px;
}
#left{
    padding-left: 10%;
}
h5{
    color:#363958;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#text-bg{
    background-color: azure;
}