h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}
.blue-color{
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;

}
.orange-color{
    color: #FF8367;
    

}
body{
    margin: 0;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 8%;
}
.bg{
    height: 1000px;
    width: 90%;
    
}
.half-width img{
    width: 100%;
}
.contact{
    text-decoration: none;
    padding: 10px 25px;
    color: white;
    border-radius: 5%;
    font-weight: 50px;
    background-image: linear-gradient(to bottom, rgb(231, 63, 34) , Tomato);

}
#pad{
    padding-left: 10%;
}
p{
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
}
#header{
    text-align: right;
    font-size: small;
    padding-top:1%;
    padding-right: 5%;
    padding-bottom: 3%;
    color: #3C3C3C;
    word-spacing: 20px;
}
